div.task_list {
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 20px;
}

div.task_list div.empty_list {
  height: 60px;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.task_list div.divider {
  background-color: var(--gray_300);
  width: 100%;
  height: 1px;
}

div.task_list div.controls,
div.task_list div.controls ul {
  display: flex;
  flex-direction: row;
}

div.task_list div.controls {
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 15px;
}

span,
button {
  font-size: 12px;
}

div.task_list div.controls ul button {
  font-size: 13px;
}

div.task_list div.controls ul {
  list-style: none;
  width: 145px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
