#root {
  --gray_50: #fafafaff;
  --purple_300: #cacde8ff;
  --gray_300: #d2d3dbff;
  --gray_600: #9394a5ff;
  --navy_850: #484b6aff;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: var(--navy_850);
}

body {
  background-color: var(--purple_300);
}

#root {
  height: 100vh;
  width: 100vw;
}

#background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.task_manager {
  width: 550px;
  margin: auto;
}

header.task_header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 40px;
}

h1 {
  font-size: 40px;
  letter-spacing: 15px;
  color: var(--gray_50);
}
